<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="boleiros.gas_facil" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="boleiros.gas_facil.GasFacil"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="GasFacil"
        android:theme="@style/AppTheme" >
        <activity
            android:name="boleiros.gas_facil.Inicio"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="boleiros.gas_facil.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="boleiros.gas_facil.LoginSignup"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="boleiros.gas_facil.pedido.EfetuarPedido"
            android:label="Efetuar o Pedido" >
        </activity>
    </application>

</manifest>
